@import "tailwindcss";

:root {
    font-family: "Roboto", Arial, sans-serif;
    color: rgba(255, 255, 255, 0.87);

    color-scheme: dark light;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body {
    scroll-behavior: smooth;
}
